# Django Core Service Environment Variables
SECRET_KEY=your-secret-key-here
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,.onrender.com
DATABASE_URL=postgresql://farmhub_312z_user:QCTGvShsswsHjotWftVYt6RktgLGPRht@dpg-d2jidgn5r7bs73eu3k80-a.frankfurt-postgres.render.com:5432/farmhub_312z


# FastAPI Reporting Service Environment Variables
# DATABASE_URL=sqlite:///../core/db.sqlite3
